.draggable {
  width: 25%;
  height: 100%;
  min-height: 6.5em;
  margin: 10%;

  padding: 1%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}
