.draggable {
  width: 5%;
  height: 10%;
  min-height: 3.5em;
  /*margin: 10%;*/

  padding: 1%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}
